// Variables

$base-font: Helvetica, "Lucida Grande", Arial, sans-serif;
$alt-font: Georgia, serif;
$code-font: "Lucida Console", Monaco, monospace;

$base-font-size: 15px;
$base-line-height: round($base-font-size*1.5);

$spacing: 20px;

// Palette
$white: #fff;
$black: #141414;

$light-gray: #f7f7f7;
$dark-gray: #444;
$gray: #666;

$blue: #23577F;
$green: #8E8757;

$text-color: #282828;

// Global Styles

body { 
	background: $light-gray url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWP48OHDfwaiAE6VAFMdB5+t33KmAAAAAElFTkSuQmCC); 
}

body, h1, h2, h3, h4, h5, h6, p, table, tr, td {
  margin: 0;
  padding: 0;

  color: $text-color;

  font-family: $base-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
  
}

h1 {
	font-size: $base-font-size*2.5;
	line-height: $base-line-height*2.5;
}

h2 {
	margin-bottom: $spacing/2;
	color: $green;
	font-size: 18px;
}

h3, h4 {
	margin-bottom: $spacing/4;
	font-weight: normal;
	font-size: 16px;
}

hr {
	border: 1px dotted lighten($gray, 20%);
	margin: $spacing 0;
}

a {
	color: lighten($blue, 15%);

	&:hover {
		text-decoration: none;
	}
}

// Common

.item {
	margin-bottom: $spacing;
}

.last {
	margin-bottom: 0;
}

// Logo {

.logo-round {
	font-family: $code-font;
	font-weight: 300;
	letter-spacing: -1px;
	color: lighten(red, 20%);
}

.tagline {
	font-size: $base-font-size;
	line-height: round($base-font-size*2.5);
	color: $gray;
}

// Layout

.newsletter {
	width: 600px;

	margin: 0 auto;
	padding: $spacing 0 0;

	background: $white;

	box-shadow: 0 0 $spacing/4 lighten($gray, 25%);
	-moz-box-shadow: 0 0 $spacing/4 lighten($gray, 25%);
	-webkit-box-shadow: 0 0 $spacing/4 lighten($gray, 25%);
}

table { padding: 0 $spacing*2; }

// Sub-Header
.sub-header {
	width: 100%;

	td {
		color: $gray;
		font-size: round($base-font-size*.9);
	}

	.logo-box { 
		text-align: right; 
	}
}

// Header 
.header {
	width: 100%;
	margin: $spacing/2 0 $spacing;

	border-top: 2px solid $light-gray;
	border-bottom: 4px solid $light-gray;

	text-align: center;

	td {
		padding: $spacing 0;
	}
}

// Footer

.footer {
	width: 100%;

	margin-top: $spacing*2;
	padding-top: $spacing;
	padding-bottom: $spacing;

	background: $light-gray;
	font-size: 14px;

	td {
		padding: $spacing/2;
	}

	.aux-box {
		text-align: right;
	}

	a {
		color: $gray;
	}
}

.copyright {
	font-size: 13px;
	color: $gray;
}