<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <style type="text/css">
      /* REPLACE WITH CSS */
    </style>
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>

            <table class="row header">
              <tr>
                <td class="center" align="center">
                  <center>

                    <table class="container">
                      <tr>
                        <td class="wrapper last">

                          <table class="twelve columns">
                            <tr>
                              <td class="ten sub-columns" style="vertical-align:middle;">
                                <strong>Issue #{{ page.metadata.issue }}</strong>
                                &sdot;
                                {{ moment(page.date).format('MMMM Do, YYYY') }}
                                <!-- *|IFNOT:ARCHIVE_PAGE|* -->&sdot; <a href="*|ARCHIVE|*" target="_blank">View it in your browser</a><!-- *|END:IF|* -->
                              </td>
                              <td class="two sub-columns last" style="text-align:right; vertical-align:middle;">
                                <span class="logo">
                                  <img src="https://raw.github.com/lincolnloop/newsletter-designs/develop/img/ll-logo.png" alt="Brought to you by Lincoln Loop">
                                </span>
                              </td>
                              <td class="expander"></td>
                            </tr>
                          </table>

                        </td>
                      </tr>
                    </table>

                  </center>
                </td>
              </tr>
            </table>

            <table class="container">
              <tr>
                <td>

                  <table class="row">
                    <tr>
                      <td class="wrapper last">

                        <table class="twelve columns">
                          <tr>
                            <td>
                              <h1><center>{{ title }}</center></h1>

                              <p class="lead">{{ tagline }}</p>

                              {% block body %}{% endblock %}

                              <p class="copyright">
                                Copyright &copy; {{ moment(page.date).format('YYYY') }} Lincoln Loop, All rights reserved.
                              </p>

                              *|IFNOT:ARCHIVE_PAGE|**|LIST:DESCRIPTION|**|END:IF|*
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>

                  <table class="row footer">
                    <tr>
                      <td class="wrapper">

                        <table class="six columns">
                          <tr>
                            <td class="left-text-pad">

                              <p><a href="mailto:info@lincolnloop.com?subject=Sponsor Web Regularly">Sponsor Web Regularly</a></p>
                              <p><a href="mailto:info@lincolnloop.com?subject=Place a Job Ad in Web Regularly">Place a Job Ad</a></p>
                              <p><a href="http://lincolnloop.com">http://lincolnloop.com</a></p>
                              <p><a href="http://twitter.com/lincolnloop">@lincolnloop</a></p>

                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                      <td class="wrapper last">

                        <table class="six columns">
                          <tr>
                            <td class="last right-text-pad">
                              <p><strong>Our mailing address:</strong></p>
                              <p>Lincoln Loop</p>
                              <p>1604 Ashland Ave #96971</p>
                              <p>Chicago, IL 60608</p>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>


                  <table class="row">
                    <tr>
                      <td class="wrapper last">

                        <table class="twelve columns">
                          <tr>
                            <td align="center">
                              <center>
                                <a href="*|UNSUB|*">Unsubscribe</a> |
                                <a href="*|UPDATE_PROFILE|*">Subscription Preferences</a> |
                                <a href="*|FORWARD|*">Forward to Friend &rarr;</a>
                              </center>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>

                <!-- container end below -->
                </td>
              </tr>
            </table>

          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
