{% extends "base.html" %}

{% block body %}

  {{ page.html }}

  <div mc:edit="interesting_links">

    <h2>What's Interesting</h2>

    {% for article in page.metadata.interesting %}
      <h3><a href="{{ article.url }}">{{ article.title }}</a><h3>
      <p>{{ article.summary }}</p>
    {% endfor %}

  </div>

  <hr>

  <div mc:edit="code_examples">

    <h2>Build It!</h2>

    {% for article in page.metadata.build %}
      <h4><a href="{{ article.url }}">{{ article.title }}</a><h4>
      <p>{{ article.summary }}</p>
    {% endfor %}

  </div>

  <hr>

  <div mc:edit="html5_demos">

    <h2>Check it out!</h2>

    {% for article in page.metadata.checkout %}
      <h4><a href="{{ article.url }}">{{ article.title }}</a><h4>
      <p>{{ article.summary }}</p>
    {% endfor %}

  </div>

{% endblock %}
