@import 'vendor/ink';

$primary-color: #64c3cd;

a {
  color: $primary-color;
  &:hover {color: $primary-color !important;}
  &:active {color: $primary-color !important;}
  &:visited {color: $primary-color !important;}
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #2ba6cb;
  &:active {color: $primary-color !important;}
  &:visited {color: $primary-color !important;}
}

h1, h2, h3 {padding-bottom: 14px;}
h2 {
  font-size: 24px;
  padding-top: 14px;
}
h3 {font-size: 18px;}

.lead {
  padding-bottom: 24px;
  font-size: 17px;
  font-weight: 300;
  line-height: 38px;
  color: #666666;
}

.template-label {
  color: #ffffff;
  font-weight: bold;
  font-size: 11px;
}

.callout {
  .wrapper {
    padding-bottom: 20px;
  }
  .panel {
    background: #ECF8FF;
    border-color: #b9e5ff;
  }
}

.header {
  background: #f7f7f7;

  .logo img {
    float: right;
  }
}

.footer {
  .wrapper {
    background: #ebebeb;
  }
}

table {
  &.columns {
    .text-pad {
      padding-left: 10px;
      padding-right: 10px;
    }
    .left-text-pad {
      padding-left: 10px;
    }
    .right-text-pad {
      padding-right: 10px;
    }
  }
}

.copyright {
  padding-top: 24px;
  padding-bottom: 14px;
  font-size: 13px;
  font-weight: 300;
  color: #666666;
}

@media only screen and (max-width: 600px) {
  table[class="body"] {
    .right-text-pad {
      padding-left: 10px !important;
    }
    .left-text-pad {
      padding-right: 10px !important;
    }
  }
}
