@import "../config";
@import "../defaults";

body, #Body-Table {	
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWP48OHDfwaiAE6VAFMdB5+t33KmAAAAAElFTkSuQmCC); 
}

// Layout
.newsletter {
	box-shadow: 0 0 $spacing/4 lighten($gray, 25%);
	-moz-box-shadow: 0 0 $spacing/4 lighten($gray, 25%);
	-webkit-box-shadow: 0 0 $spacing/4 lighten($gray, 25%);

	-moz-border-radius: $border-radius;
	-webkit-border-radius: $border-radius;
	border-radius: $border-radius;
}

.header-content {
	border-top: 2px solid $light-gray;
	border-bottom: 4px solid $light-gray;
}

// Footer
#Template-Sub-Footer {
	border-top: 2px solid lighten($gray, 55%);
}