// Variables

$base-font: Helvetica, "Lucida Grande", Arial, sans-serif;
$alt-font: Georgia, serif;
$code-font: "Lucida Console", Monaco, monospace;

$base-font-size: 15px;
$base-line-height: round($base-font-size*1.5);

$spacing: 20px;
$container-width: 600px;
$border-radius: 2px;

// Palette
$white: #fff;
$black: #141414;

$light-gray: #f7f7f7;
$dark-gray: #444;
$gray: #666;

$blue: #23577F;
$green: #8E8757;

$text-color: #282828;